
.welcome-section {
    display: flex;

    align-items: center;
    justify-content: center;
    gap: 60px; /* Adjusts spacing between image and text */
    padding: 100px;
    flex-direction: row;
    position: relative;
}


.welcome-section .text {
    line-height: 48px;
    max-width: 480px; /* Limits the width of the text section */
}

.welcome-section p {
    padding-top: 19px;
    font-size: 20px;
    line-height: 25px;
    font-family: 'Space Grotesk';
    color: #ffffff;
}

.welcome-section h2 {
    font-family: 'Unbounded';
    letter-spacing: 1px;
    color: #E0B1CB;
    font-weight: 700;
    font-size: 48px;
}

.welcome-image {
    margin-top: 25px;
    flex-shrink: 0;
    width: 480px;
    justify-content: space-between;
    background-color: transparent;
}

.section{
    padding: 100px;
    gap: 60px;
    align-items: center;
}
.about-section{
     padding-bottom: 60px;
    margin: 0 auto;
    flex: 1 0 0px;
    display: flex;
    flex-direction: row;
    width: 1000px;
    justify-content: center;
  gap: 60px;
  align-items: center;
}
.about-section h2{
    font-family: 'Unbounded';
    font-size: 32px;
    font-weight: 700;
    text-align: left;
   color:  rgb(224, 177, 203);
   line-height: 35px;
}
.about-section p{
    font-weight: 500;
    font-family: 'Space Grotesk';
    padding-top: 20px;
    font-size: 16px;
    color:  rgb(224, 177, 203);
    gap: 20px;
    line-height: 1.5em;
    justify-content: center;
    max-width: 440px;
}
.img{

    width: 470px;
    height: 480px;
    object-fit: cover;
    border-radius: 40px;
    filter: grayscale(100%);
}
.about-text{
   
    height: 168.8px;
}

@media(max-width:450px){
    .welcome-section{
        max-width: 450px;
        margin-left: 28%;
        flex-direction: column;
      
    }
   
    .about-text {
        order: 2; /* Ensure text comes after the image */
        padding: 10px;
      }
    
      .img {
        width: 470px;
        height: 480px;
        object-fit: cover;
        order: 1; /* Ensure the image comes first */
      
      }
    .about-section{
        max-width: 450px;
        flex-direction: column;
    }
}